/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #bebebe;
} */
.container{
    background-color: #bebebe;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}