/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.App{
    background-color: #bebebe;
}
.container{
    background-color: #bebebe;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: aquamarine; */
    padding: 2px;
    margin: 0 25px 40px;
    border-radius: 10px;
    /* min-width: 346px; */
    text-align: center;
}
.img{
    width: 75%;
    height: 70%;
    border-radius: 5px;
}
.card:hover{
    opacity: 0.8;
    transition: all 0.1s;
    border: 3px solid #fff;
    cursor: pointer;
}

.title{
    font-size: 25px;
    color: #fff;
    
}
.info{
    color: #fff;
    display: flex;
    flex-direction: column;
    
}

.year{
    
    font-size:medium;
    color: #ffff34;
}

.p{
    display: inline-block;
}
